#footer
    #mcontact.mcontact.module(style="")
        .module_container
            .container_header.wow(style="padding: 2% 18%;")
                img(src="/images/head/logo1.png", alt="中关村发展集团")
                div(style="float:right")
                        span.ellipsis 运维电话：18510862905
                        span(style="float:right; margin-left: 10px; ") 运维邮箱：18510862905@163.com
                        br
                        span.ellipsis
                            | Copyright  2019 DHC software Co. Ltd.
                        //a.beian(href="", rel="nofollow", style="color: #363636;vertical-align: top;margin-left: 10px;display: inline-block;", target="_blank")
                        //    | 京ICP备10216093号
                        //span#flogodes(style="vertical-align: top;display: inline-block;")     京公网安备11010802010280号
                        a#flogo(target="_blank", rel="nofollow", href="http://www.uemo.net", title="中关村发展")

            .container_content





