#footer
    #mcontact.mcontact.module(style="")
        .module_container
            .container_header.wow(style="padding: 0px 15%; margin-top: 60px;")
                img(src="/images/head/logo1.png", alt="中关村发展集团")
            .container_content
                .content_wrapper
                    #contactlist.contactlist
                        #contactinfo.contactinfo(style="position: relative;top: -90px;left: 50%;")
                            a.ellipsis 问题反馈
                            |  |
                            a.ellipsis  集团邮箱
                            |  |
                            a.ellipsis  集团OA
                            |  |
                            a.ellipsis  网站地图
                            |  |
                            a.ellipsis  人才招聘
                            |  |
                            a.ellipsis  法律声明
                        .clear
    p
        span.ellipsis
            | Copyright © 2015 All Rights Reserved
        a.beian(href="", rel="nofollow", style="color: #363636;vertical-align: top;margin-left: 10px;display: inline-block;", target="_blank")
            | 京ICP备10216093号
        span#flogodes(style="vertical-align: top;display: inline-block;")     京公网安备11010802010280号
        a#flogo(target="_blank", rel="nofollow", href="http://www.uemo.net", title="中关村发展")
            img(src="/images/head/logo1.png", width="90", height="20", alt="")

