extends layout

block content
  include head
  div(class="content")
    div(style="text-align: center; margin: 7% 0 3% 0px;")
      h1 最新 文档
      img(src="/images/list_.png")
    article.article.article--big(style="padding: 3% 0px;")
      .el-row(data-v-b3e18cde="")
        each doc in docs.forms
          .doc.el-col.el-col-4(data-v-b3e18cde="")
            .doc-inner(data-v-b3e18cde="")
              span(data-v-b3e18cde="")
                .el-popover__reference(data-v-b3e18cde="", aria-describedby="el-popover-8181", tabindex="0")
                  .imgsqu(data-v-b3e18cde="")
                    a(href="http://59.110.172.228:8012/onlinePreview?url=http://59.110.172.228"+doc.url target="_blank" rel="nofollow")
                      img.view(data-v-b3e18cde="", src="http://59.110.172.228"+doc.iconUrl, width="100", alt="")
                  .title(data-v-b3e18cde="")=doc.name


      link(rel='stylesheet', href='/stylesheets/myPagination.css')
      script(src='/javascripts/myPagination.js')
      .pagination
        #pagination.pagination
      script.
          window.onload = function () {
              new Page({
                  id: 'pagination',
                  pageTotal: '#{count || 1}', //必填,总页数
                  pageAmount: 10,  //每页多少条
                  dataTotal: parseInt('#{dataTotal}'), //总共多少条数据
                  curPage: parseInt('#{page}'), //初始页码,不填默认为1
                  pageSize: 10, //分页个数,不填默认为5
                  showPageTotalFlag: true, //是否显示数据统计,不填默认不显示
                  showSkipInputFlag: true, //是否支持跳转,不填默认不显示
                  getPage: function (page) {
                      location.href = "/latestDocuments?page=" + page;
                  }
              })
          }


  include foot
