doctype html
html
  head
    meta(charset="gbk")
    meta(name="keywords", content="中关村发展")
    meta(name="description", content="中关村发展")
    meta(name="author", content="YY-MO")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(content="yes", name="apple-mobile-web-app-capable")
    meta(content="black", name="apple-mobile-web-app-status-bar-style")
    meta(name="format-detection", content="telephone=no")
    meta(name="renderer", content="webkit")
    title 中关村发展
    link(rel="stylesheet", type="text/css", href="/stylesheets/lib2.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/javascripts/jquery-3.2.1.min.js")
    script(type="text/javascript", src="/javascripts/laydate/laydate.js")
    script(type="text/javascript", src="/javascripts/jquery.cookie.js")

    script.
        $(function () {
            $(".more").click(function () {
                if ($(".more-content").css("display") == "none") {
                    $(".more").css("background-color", "#fff");
                    $(".more-img").attr("src", "/images/head/more1.png");
                    $(".more-content").slideDown("slow");
                } else {
                    $(".more").css("background-color", "#005A9E");
                    $(".more-img").attr("src", "/images/head/more.png");
                    $(".more-content").slideUp("slow");
                }
            })
            $(".personalCenter").click(function () {
                if ($(".login").css("display") == "none") {
                    $(".login").slideDown("slow");
                } else {
                    $(".login").slideUp("slow");
                }
            })

            //标注重要日子
            var ins1 = laydate.render({
                elem: '#time'
                , mark: {
                    '0-10-14': '生日'
                    , '0-12-31': '生日' //每年12月31日
                    , '0-0-10': '生日' //每个月10号
                    , '2017-8-15': '生日' //具体日期
                    , '2017-8-20': '生日' //如果为空字符，则默认显示数字+徽章
                    , '2017-8-21': '生日'
                } , done: function (value, date) {
                    if (date.year === 2017 && date.month === 8 && date.date === 15) { //点击2017年8月15日，弹出提示语
                        ins1.hint('中国人民抗日战争胜利72周年');
                    }
                }
            })

            $("#QR-code").click(function () {
                $(".login1").hide();
                $(".login2").show();
            })
            $("#QR-code1").click(function () {
                $(".login2").hide();
                $(".login1").show();
            })

            $('.searchSub').click(function () {
                var searchTxt = $("#searchTxt").val();
                if(searchTxt) {
                    $("#searchTxt").val('');
                    window.open('http://work.zgcgroup.vpn/#/search/'+searchTxt);
                }
            });

            $('#searchTxt').bind('keyup', function (event) {
                if (event.keyCode == "13") {
                    //回车执行查询
                    $('.searchSub').click();
                }
            });
        })
        var uid = $.cookie('uid'); // 读取 cookie
        if (uid) {
            var uname = $.cookie('uname'); // 读取 cookie 姓名
            var oname = $.cookie('oname'); // 读取 cookie 部门名称
            var Role = $.cookie('Role'); // 读取 cookie 职位
            var html = '<p>用户信息</p><div><p>姓名: '+uname+'</p><p>部门: '+oname+'</p><p>职位: '+Role+'</p><button onclick="signOut">退出登录</button></div>';
            $('.userinfo').html(html);
        }
        function signOut() {
            alert('退出登录');
        }
        function login() {
            $.ajax({
                type: "POST",
                url: "/api/auth/jwt/token",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({username: "lilu", password: "123456"}),
                dataType: "json",
                success: function (data) {
                    // $('#resText').empty();   //清空resText里面的所有内容
                }
            });
        }


    body
    block content
