extends layout

block content
  include head
  div(class="content")

    div(style="text-align: center; margin: 7% 0 3% 0px;")
      h1 #{title}
      img(src="/images/list_.png")

    div
      each obj in news
        article.article.article--big(style='width: 32%;float: left;margin-left: 1%;height: 380px;')
          .aticle__image
            a(href="/"+key+"/details?type="+title+"&id=" + JSON.parse(obj).articleId)
              img(style='border-radius: 3px 3px 0 0; height: 256px; width: 100%;', src=''+JSON.parse(obj).img)
          .aticle__content
            a(href="/"+key+"/details?type="+title+"&id=" + JSON.parse(obj).articleId)
              p(style='font-size: 1.2em;font-weight: 700;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;') #{JSON.parse(obj).title}
              p(style='overflow: hidden;height: 47px;text-overflow: ellipsis;' title=""+JSON.parse(obj).about) #{JSON.parse(obj).about}

    div(style='clear:both;')
    .pagination
      a(href="/"+key+"/list?page=1" title="首页") 首页
      a(href="/"+key+"/list?page=" + ((page - 1) > 0 ? (page - 1) : 1) title="上一页") 上一页
      - for(var i = 1; i <= count; i++)
          if(i == page)
            a(href="/"+key+"/list?page=" + i).current=i
          else
            a(href="/"+key+"/list?page=" + i)=i
      a(href="/"+key+"/list?page=" + ((parseInt(page) + 1) <= count ? (parseInt(page) + 1) : count)) 下一页
      a(href="/"+key+"/list?page=" + count) 尾页




  include foot
