extends layout

block content
  include head
  div(class="content")
    div(style="text-align: center; margin: 8% 0 3% 0px;")
      //h1 党建 工作
      //img(src="/images/list_.png")
    article.article.article--big(style='height: 380px;font-size: 14px;')
      div
        h2(style="position: relative;top: 24px;left: 28px;") 党建活动
        a.btn.btn-default(href="/partyBuildingAll/list" style="position: relative;top: -3px;left: 1119px;") 更多
      each obj in partyBuilding
        div(style="max-width: 380px;float: left; margin-left: 28px; margin-top: 10px; line-height: 32px;")
          .aticle__image
            a(href="/partyBuilding/details?type=党建活动&id=" + JSON.parse(obj).articleId)
              img(style='border-radius: 3px 3px 0 0;max-height: 240px;', src=''+JSON.parse(obj).img)
              p #{JSON.parse(obj).title}
    article.article.article--big(style='height: 380px; font-size: 14px;')
      div
        h2(style="position: relative;top: 24px;left: 28px;") 工会活动
        a.btn.btn-default(href="/tradeUnion/list" style="position: relative;top: -3px;left: 1119px;") 更多
      each obj in tradeUnion
        div(style="max-width: 380px;float: left; margin-left: 28px; margin-top: 10px; line-height: 32px;")
          .aticle__image
            a(href="/tradeUnion/details?type=工会活动&id=" + JSON.parse(obj).articleId)
              img(style='border-radius: 3px 3px 0 0;max-height: 240px;', src=''+JSON.parse(obj).img)
              p #{JSON.parse(obj).title}

    article.article.article--big(style='height: 380px;font-size: 14px;')
      div
        h2(style="position: relative;top: 24px;left: 28px;") 集团报道
        a.btn.btn-default(href="" style="position: relative;top: -3px;left: 1119px;") 更多

      div(style="max-width: 360px;float: left; margin: 16px 15px; margin-left: 30px;")
        .aticle__image
          img(style='border-radius: 3px 3px 0 0;max-width: 360px;max-height: 240px;', src='/images/ldjh/ldjh01.jpg')

          p 集团党委书记、董事长赵长山在集团风险管理与审计工作会上的讲话

      div(style="max-width: 360px;float: left;margin: 16px 15px;")
        .aticle__image
          img(style='border-radius: 3px 3px 0 0;max-width: 360px;max-height: 240px;', src='/images/ldjh/ldjh01.jpg')

          p 集团党委书记、董事长赵长山在集团风险管理与审计工作会上的讲话

      div(style="max-width: 360px;float: left;margin: 16px 15px;")
        .aticle__image
          img(style='border-radius: 3px 3px 0 0;max-width: 360px;max-height: 240px;', src='/images/ldjh/ldjh01.jpg')

          p 集团党委书记、董事长赵长山在集团风险管理与审计工作会上的讲话

    article.article.article--big(style='height: 380px;font-size: 14px;')
      div
        h2(style="position: relative;top: 24px;left: 28px;") 投票活动
        a.btn.btn-default(href="" style="position: relative;top: -3px;left: 1119px;") 更多

      div(style="max-width: 360px;float: left; margin: 16px 15px; margin-left: 30px;")
        .aticle__image
          img(style='border-radius: 3px 3px 0 0;max-width: 360px;max-height: 240px;', src='/images/ldjh/ldjh01.jpg')
        
          p 集团党委书记、董事长赵长山在集团风险管理与审计工作会上的讲话

      div(style="max-width: 360px;float: left;margin: 16px 15px;")
        .aticle__image
          img(style='border-radius: 3px 3px 0 0;max-width: 360px;max-height: 240px;', src='/images/ldjh/ldjh01.jpg')
        
          p 集团党委书记、董事长赵长山在集团风险管理与审计工作会上的讲话

      div(style="max-width: 360px;float: left;margin: 16px 15px;")
        .aticle__image
          img(style='border-radius: 3px 3px 0 0;max-width: 360px;max-height: 240px;', src='/images/ldjh/ldjh01.jpg')
        
          p 集团党委书记、董事长赵长山在集团风险管理与审计工作会上的讲话
          
    div(style='clear:both;')

  include foot
