extends layout

block content
  include head
  div(class="content")
    div(style="text-align: center; margin: 7% 0 3% 0px;")
      h1 集团 发文
      img(src="/images/list_.png")

    article.article.article--big
      //<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
      table(style="font-size: 14px; width: 100%;")
        each obj in writings
          tr
            td(style="padding: 1%; font-weight: 700; border-bottom: 1px solid #dbdbdb;")
              span(style="color: #3488ea; font-size: 2em; vertical-align: middle; margin: 1%;") •
              span #{JSON.parse(obj).title}
            td(style="padding: 1%; border-bottom: 1px solid #dbdbdb;")
              span(style="margin-left: 10%;") #{JSON.parse(obj).publisher}
            td(style="padding: 1%; border-bottom: 1px solid #dbdbdb;")
              time(style="margin-left: 10%;") #{JSON.parse(obj).time}
            td(style="padding: 1%; border-bottom: 1px solid #dbdbdb;")
              a.btn.btn-default(href="/details?type=工作简报&id=" + JSON.parse(obj).articleId, style="padding: 5px 12px; margin-top: 12px;") 详情

      .pagination
        a(href="/writings?page=1" title="首页") 首页
        a(href="/writings?page=" + ((page - 1) > 0 ? (page - 1) : 1) title="上一页") 上一页
        - for(var i = 1; i <= count; i++)
            if(i==page)
              a(href="/writings?page="+i).current=i
            else
              a(href="/writings?page="+i)=i
        a(href="/writings?page="+((page+1) <= count?(page+1):count)) 下一页
        a(href="/writings?page="+count) 尾页



  include foot
